# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# MacOS Files
.DS_Store

# C++ Stuff
main
tempCodeRunnerFile
tempCodeRunnerFile.cpp
a.in
a.out

# VSCode
.vscode/

# cp
Other

# cf

.catalyst

Codeforces/EDU

# other
*.py
*.c